@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Luckiest+Guy&family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");

$font-header: "Luckiest Guy", cursive;
$font-rouded: "M PLUS Rounded 1c", sans-serif;
$font-main: "IBM Plex Sans", sans-serif;

$font-size-header: 50px;
$font-size-large: 30px;
$font-size-medium: 25px;
$font-size-small: 20px;

$color-primary: #394166;
$color-secondary: #36bbf1;
$color-background: #fffdf8;
$color-footer: #fefcdd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
  font-size: $font-size-medium;
  color: $color-primary;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer {
  max-width: 480px;
}

.outer-footer {
  width: 100%;
}
