.button {
  &--primary {
    padding: 15px;
    background-color: $color-background;
    color: $color-primary;
    border: 1px solid;
    border-radius: 10%;
    font-family: $font-main;
    font-size: $font-size-medium;
  }
  &--secondary {
    padding: 15px;
    background-color: $color-primary;
    color: $color-background;
    border: 1px solid;
    border-radius: 10%;
    font-family: $font-main;
    font-size: $font-size-medium;
  }
}
