.button {
  border-radius: 10px;
  font-family: $font-main;
  font-weight: $font-weight-medium;

  &--primary {
    padding: 12px 24px;
    background-color: $color-background;
    color: $color-primary;
    border: 2px solid;
  }

  &--secondary {
    padding: 15px 30px;
    min-width: 50%;
    background-color: $color-primary;
    color: $color-background;
    border: 1px solid;
  }
}
