.button {
  &--primary {
    padding: 10px 20px;
    background-color: $color-background;
    color: $color-primary;
    border: 1px solid;
    border-radius: 10%;
    font-family: $font-main;
    font-weight: bold;
  }
  &--secondary {
    padding: 20px;
    background-color: $color-primary;
    color: $color-background;
    border: 1px solid;
    border-radius: 10%;
    font-family: $font-main;
    font-weight: bold;
  }
}
