nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  h1 {
    font-family: $font-header;
    font-size: $font-size-header;
    padding-top: 10px;
  }
}

main {
  margin: 15px 20px;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &.intro {
      text-align: center;

      * {
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .intro__heading,
      .intro__h3 {
        color: $color-secondary;
      }

      .intro__heading {
        font-family: $font-rouded;
        font-size: $font-size-large;
        font-weight: 700;
      }

      .intro__subheading {
        font-size: $font-size-large;
        font-weight: 500;
      }

      .intro__h3 {
        // font-size: $font-size-medium;
        font-weight: 700;
      }

      .intro__h4 {
        font-size: $font-size-small;
        font-weight: 400;
      }

      button {
        margin-top: 40px;
        margin-bottom: 60px;
      }
    }

    &.details {
      * {
        margin-top: 5px;
      }

      .details__heading {
        font-size: $font-size-large;
      }

      div {
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.details__text-first {
          img {
            margin-left: 15px;
          }
        }

        &.details__image-first {
          img {
            margin-right: 15px;
          }
        }

        strong {
          font-weight: 500;
        }
      }

      button {
        margin-top: 40px;
        margin-bottom: 60px;
      }
    }
  }
}

footer {
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  font-weight: 400;

  p {
    padding: 10px;
  }
}
