@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=M+PLUS+Rounded+1c:wght@400;500&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  color: #394166;
}

.button--primary {
  padding: 10px;
  background-color: #fffdf8;
  color: #394166;
  border: 2px solid;
  border-radius: 10%;
}
.button--secondary {
  padding: 10px;
  background-color: #394166;
  color: #fffdf8;
  border: 2px solid;
  border-radius: 10%;
}