@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=M+PLUS+Rounded+1c:wght@400;500&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  color: #394166;
}

.button--primary {
  padding: 10px 20px;
  background-color: #fffdf8;
  color: #394166;
  border: 1px solid;
  border-radius: 10%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
}
.button--secondary {
  padding: 20px;
  background-color: #394166;
  color: #fffdf8;
  border: 1px solid;
  border-radius: 10%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  font-family: "Luckiest Guy", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: #fefcdd;
  display: flex;
  flex-direction: column;
  align-items: center;
}