@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=M+PLUS+Rounded+1c:wght@400;500&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  color: #394166;
}

body {
  max-width: 480px;
}

.button--primary {
  padding: 15px;
  background-color: #fffdf8;
  color: #394166;
  border: 1px solid;
  border-radius: 10%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
}
.button--secondary {
  padding: 15px;
  background-color: #394166;
  color: #fffdf8;
  border: 1px solid;
  border-radius: 10%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
nav h1 {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 50px;
  padding-top: 10px;
}

main {
  margin: 15px 20px;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main section.intro {
  text-align: center;
}
main section.intro * {
  margin-top: 10px;
  margin-bottom: 30px;
}
main section.intro .intro__heading,
main section.intro .intro__h3 {
  color: #36bbf1;
}
main section.intro .intro__heading {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 30px;
}
main section.intro .intro__subheading {
  font-size: 30px;
}
main section.details * {
  margin-top: 5px;
}
main section.details button {
  margin-top: 15px;
}
main div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: #fefcdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px;
}
footer h3 {
  padding: 10px;
}

strong {
  font-weight: 900;
}